/*Impostiamo i vari parametri base di ogni file*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Andiamo a modificare il nostro body in modo che ci faccia da sfondo per la nostra pagina*/
body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/*Iniziamo a dare le caratteristiche che vogliamo al nostro header*/
header{
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.logo{
    vertical-align: middle;
}

.nome-logo{
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle;
}

/*Creiamo i nostri contenitori per il main*/
.contenitore{
    width: 65%;
    background-color: white;
    margin: auto;
}

.contenitore.piccolo{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 2px;
    padding-top: 15px;
    padding-left: 45px;
    padding-bottom: 15px;
}

.contenitore.grande{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 10px;
    padding-left: 35px;
    padding-bottom: 25px;
}

/*Personalizziamo i nostri due pulsanti*/
.bottone{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.bottone.celeste{
    background-color: #47adf1;
    color: white;
}

.bottone.bianco{
    background-color: white;
    color: grey;
}

/*Occupiamoci dell'interfaccia delle varie task*/
.task{
    margin-top: 15px;
    margin-left: 10px;
    padding: 2px;
    font-size: 22px;
    font-weight: bold;

}

.da-fare{
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 20px;
    list-style: none;
}

.spunta{
    color: darkgreen;
    font-weight: bolder;
}

.croce{
    color:red;
    font-weight: bolder;
}

.sezione{
    display: inline-block;
    font-size: 11px;
    color: white;
    margin-left: 5px;
    padding: 8px;
    border-radius: 12px;
}

.sezione.celeste{
    background-color: #47adf1;
}

.sezione.viola{
    background-color: blueviolet;
}

.sezione.verde{
    background-color: green;
}

.sezione.arancione{
    background-color: orange;
}

.sezione.rosso{
    background-color: red;
}

.sezione.verde-limone{
    background-color: #b0c926;
}